@media screen and (min-width: 1439px){


    a{
        text-decoration: none;
    }
 
    //Header
    header { 
        background-image: url(/Afbeeldingen/header_back.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
         
        #header-text{
            font-size: 22px;
        }
        h1{
            font-size: 50px;
            padding: 30px 20px; margin: 0%;
        }
    }
        
    .tabs{
        font-size: 24px;
    }
    
    .tab-tekst{
        font-size: 20px;
    }

    footer{
        display: initial;
    }
}