html{
    padding: 0%; margin: 0%;
}
body{
    padding: 0%; margin: 0%;
}

#grid-container {
    display: grid;
    height: 100vh;
    background-color:#cabba6;
    grid-template-columns: 100%;
    grid-template-rows: auto 300px ;
    grid-template-areas:
    "Nav"
    "Header"
    "sections";
}

a{
    text-decoration: none;
}

//Navigation
nav {
    grid-area: Nav;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#cab799;

    font-weight: bold;

    h1{
        padding: 10px 20px;
        margin: 0%;
        color: #000914;
    }
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

        li a{
            display: inline-block;
            margin: 10px 10px 10px 15px;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            color: #000914;
            font-size: 18px;
        }

        li a:hover{
            background-color: #394669;
            color: white;
        }

        .active{
            background-color: #394669;
            color: white;
        }
}
 
.hamburger {
    background-color: transparent;
    border: 0;
    margin: 0px 15px 0px 0px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    display: none;

    :focus{
        outline: none;
    }
}

//Header
header { 
    grid-area: Header;
    background-image: url(/ExtreemTravel/Afbeeldingen/header_back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 10px;
    color: #000914;
    #header-text{
        font-size: 18px;
        padding: 20px 0px 20px 20px; margin: 0%;
    }
    h1{
        font-size: 35px;
        padding: 20px 0px 20px 20px; margin: 0%;
    }
}

#sections{
    display: grid;
    background-color: #132646;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-areas:
    "Tab1"
    "Tab2"
    "Tab3";
}



#Tab1 {
    grid-area: Tab1;

}

#Tab2 {
    grid-area: Tab2;   

}
#Tab3 {
    grid-area: Tab3;

}

.fotos{
    display: none;
}

h3{
    margin: 10px;

}
.forum{
    margin: 0%; padding: 3px;
    width: 75%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

.tabs{
    text-align: center;
    font-size: 17px;
    background-color: #17375d;
    color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 5px 15px;


    a{
        margin: 0 auto; padding: 10px 15px;
        background-color: #394669;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    }

    a:hover{
       background-color: #cabba6;
        color: #000914;
    }
}

.tab-tekst{
    font-size: 18px;
    padding:15px 25px;
}
//footer
footer{
    display: none;
}

@media screen and (max-width: 767px) {
//navigation
  .nav-ul{
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-ul.show{
      display: flex;
  }

  .hamburger {
    display: block;
  }
}